<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Teacher</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Classes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Yin Yoga &amp; Essentials</a>
                <a href="" class="dropdown-item">Vinyasa</a>
                <a href="" class="dropdown-item">Ashtanga</a>
                <a href="" class="dropdown-item">All Classes</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothes-link">
                <a href="" class="dropdown-item">Face Masks</a>
                <a href="" class="dropdown-item">Mini Dresses</a>
                <a href="" class="dropdown-item">Skirts</a>
                <a href="" class="dropdown-item">Yoga Mats</a>
                <a href="" class="dropdown-item">Art</a>
            </div>
        </li>
    </ul>
</div>