<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Yin Yoga</a>
                <a href="" class="dropdown-item">Vinyasa</a>
                <a href="" class="dropdown-item">Ashtanga</a>
                <a href="" class="dropdown-item">Class timetable</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothes-link">
                <a href="" class="dropdown-item">Face Masks</a>
                <a href="" class="dropdown-item">Mini Dresses</a>
                <a href="" class="dropdown-item">Skirts</a>
                <a href="" class="dropdown-item">Art</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
            <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="clothes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shopping Bag ({% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %})
                                </a>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>